@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Index";
}

<div class="content-wrap">
    <div class="row">

        <div class="col-md-12">
            <div class="nest" id="basicClose">
                <div class="title-alt">
                    <h6>
                        Welcome to Dashboard!
                    </h6>
                </div>
                <div class="body-nest" id="basic">
                    <div class="form_center" style="background: url('/html/assets/img/error-page-logo.png') no-repeat center; min-height:300px;">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>