
@{
    ViewBag.Title = "Sihirdar Vadisi Testleri | LoL'de Hangi Nişancısın?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = Request.RawUrl;
    ViewBag.Type = "article";
    ViewBag.Description = "LoL'de Hangi Nişancısın?";
    ViewBag.Image = "default-share-img.jpg";
}
<div id="page-content">
	<div class="container">
		<div class="row">
			<section class="col-md-9">
				<article class="vadi--post" itemscope itemtype="http://schema.org/NewsArticle">
					<h1 class="vadi--post--title" itemprop="headline">LoL'de Hangi Nişancısın?</h1>
					<div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
						<img class="vadi--post--image" src="/html/assets/img/test-1-answers/nisancilar_kapak.png" alt="LoL'de Hangi Nişancısın?" title=""  width="100%" />
						<meta itemprop="url" content="https://gamerpeople.com/html/assets/img/test-1-answers/nisancilar_kapak.png">
						<meta itemprop="width" content="945">
						<meta itemprop="height" content="450">
					</div>
					<div class="vadi--post--content">
						<p>Gamer People'nde sana en yakın olan Nişancı karakteri öğrenmek için hemen testi çözmeye başla. Çıkan sonuçları arkadaşlarınla paylaşarak gücünü onlara gösterebilirsin.</p>

						<h6 style="font-size:16px; margin-top:15px; color:#FFF; text-decoration:underline;">Haydi Başlayalım!</h6>

						<div class="row questions-list">
							<div class="question col-md-12">
								<h2>1. Hangi Rioter’sın?</h2>

								<div class="answers clearfix" data-question="1">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/Qayq8y.jpg" class="img-responsive" alt="" />
										<h5>Glandal </h5>
									</div>

									<div class="answer col-sm-4" data-choice="7" style="">
										<img src="http://i.hizliresim.com/p021ao.jpg" class="img-responsive" alt="" />
										<h5>Krank </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/8MXBo1.jpg" class="img-responsive" alt="" />
										<h5>Jhonnie </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/vby9VA.jpg" class="img-responsive" alt="" />
										<h5>Dunpy </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/nRNEWV.jpg" class="img-responsive" alt="" />
										<h5>Regarnur</h5>
									</div>

									<div class="answer col-sm-4" data-choice="10" style="">
										<img src="http://i.hizliresim.com/gqbaYO.jpg" class="img-responsive" alt="" />
										<h5>Xtreme </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a1" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>2. Favori LoL Takımın Hangisi ?</h2>

								<div class="answers clearfix" data-question="4">
									<div class="answer col-sm-4" data-choice="10" style="">
										<img src="http://i.hizliresim.com/V0zEkn.png" class="img-responsive" alt="" />
										<h5>Super Massive</h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/QazQDZ.jpg" class="img-responsive" alt="" />
										<h5>Dark Passage</h5>
									</div>

									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/8ML8q7.png" class="img-responsive" alt="" />
										<h5>Çilekler </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="margin-left:0">
										<img src="http://i.hizliresim.com/O0zEWD.png" class="img-responsive" alt="" />
										<h5>1907 Fenerbahçe </h5>
									</div>

									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/ojN0Q9.png" class="img-responsive" alt="" />
										<h5>Crew eSpor </h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/QazvXy.png" class="img-responsive" alt="" />
										<h5>Hwa Gaming </h5>
									</div>

									<input type="hidden" class="choiced-ans" id="a4" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>3. Senin En Sevdiğin Orta Koridor Oyuncusu?</h2>

								<div class="answers clearfix" data-question="5">
									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/W0pg64.png" class="img-responsive" alt="" />
										<h5>xPeke</h5>
									</div>

									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/EgArbB.jpg" class="img-responsive" alt="" />
										<h5>Faker</h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/gqY2kN.jpg" class="img-responsive" alt="" />
										<h5>Naru</h5>
									</div>

									<div class="answer col-sm-4" data-choice="10" style="margin-left:0">
										<img src="http://i.hizliresim.com/M0Bog2.jpg" class="img-responsive" alt="" />
										<h5>Caps </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/LyRZ1z.jpg" class="img-responsive" alt="" />
										<h5>Bjergsen </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/7q17vr.png" class="img-responsive" alt="" />
										<h5>Huhi</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a5" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>4. LoL’de En Çok Değer Verdiğin Şey Nedir?</h2>

								<div class="answers clearfix" data-question="10">
									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/Eg2aqg.jpg" class="img-responsive" alt="" />
										<h5>KDA </h5>
									</div>

									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/r3ylRa.jpg" class="img-responsive" alt="" />
										<h5>Takım Oyunu</h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/X0lQqD.jpg" class="img-responsive" alt="" />
										<h5>Zafer Kazanmak</h5>
									</div>

									<div class="answer col-sm-4" data-choice="10" style="margin-left:0">
										<img src="http://i.hizliresim.com/qbyoPq.jpg" class="img-responsive" alt="" />
										<h5>Güzel Hareketler Yapmak</h5>
									</div>

									<div class="answer col-sm-4" data-choice="7" style="">
										<img src="http://i.hizliresim.com/69MAPE.jpg" class="img-responsive" alt="" />
										<h5>Rakibe Korku Salmak</h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/dPMyb7.jpg" class="img-responsive" alt="" />
										<h5>Global Görevleri Çalmak</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a10" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>5. Hangi Survivor Karakterisin?</h2>

								<div class="answers clearfix" data-question="2">
									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/kb0oLr.jpg" class="img-responsive" alt="" />
										<h5>Çılgın Sedat</h5>
									</div>

									<div class="answer col-sm-4 " data-choice="7" style="">
										<img src="http://i.hizliresim.com/vby98D.jpg" class="img-responsive" alt="" />
										<h5>Turabi</h5>
									</div>

									<div class="answer col-sm-4 " data-choice="9" style="">
										<img src="http://i.hizliresim.com/gqbaZQ.jpg" class="img-responsive" alt="" />
										<h5>Şahika Ercümen</h5>
									</div>

									<div class="answer col-sm-4 " data-choice="4" style="margin-left:0">
										<img src="http://i.hizliresim.com/QayqMA.jpg" class="img-responsive" alt="" />
										<h5>Tarık Mengüç</h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/R0GM3G.jpg" class="img-responsive" alt="" />
										<h5>Erdi Ünver</h5>
									</div>

									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/4P941Q.jpg" class="img-responsive" alt="" />
										<h5>Denisa</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a2" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>6. Bir Filozof Olsan Hangisi Olurdun?</h2>

								<div class="answers clearfix" data-question="3">
									<div class="answer col-sm-4 " data-choice="5" style="">
										<img src="http://i.hizliresim.com/ojyvkk.jpg" class="img-responsive" alt="" />
										<h5>Freud </h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/V0Bd3r.jpg" class="img-responsive" alt="" />
										<h5>Hegel </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/P0G9lN.jpg" class="img-responsive" alt="" />
										<h5>Konfüçyus </h5>
									</div>

									<div class="answer col-sm-4 " data-choice="2" style="margin-left:0">
										<img src="http://i.hizliresim.com/YDV066.jpg" class="img-responsive" alt="" />
										<h5>Descartes </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/ZZn4Xa.jpg" class="img-responsive" alt="" />
										<h5>Nietzsche </h5>
									</div>

									<div class="answer col-sm-4" data-choice="7" style="">
										<img src="http://i.hizliresim.com/ALGaOL.jpg" class="img-responsive" alt="" />
										<h5>Aristoteles </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a3" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>7. Hangi Meslek Seni Daha Çok Çekiyor?</h2>

								<div class="answers clearfix" data-question="6">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/W0oJZY.png" class="img-responsive" alt="" />
										<h5>Mimar </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/NpGP7k.jpg" class="img-responsive" alt="" />
										<h5>Tiyatrocu </h5>
									</div>

									<div class="answer col-sm-4" data-choice="7" style="">
										<img src="http://i.hizliresim.com/37g0dj.jpg" class="img-responsive" alt="" />
										<h5>Heykeltraş </h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="margin-left:0">
										<img src="http://i.hizliresim.com/NpGM4O.jpg" class="img-responsive" alt="" />
										<h5>Avukat </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/5gqJZq.jpg" class="img-responsive" alt="" />
										<h5>Marangoz </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/kb0olv.jpg" class="img-responsive" alt="" />
										<h5>Pilavcı </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a6" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>8. Şuan Ne Olsa Sevinirdin?</h2>

								<div class="answers clearfix" data-question="7">
									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/vby9lr.jpg" class="img-responsive" alt="" />
										<h5>Erik </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/V0BdGj.jpg" class="img-responsive" alt="" />
										<h5>Çikolata</h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/r3yraP.jpg" class="img-responsive" alt="" />
										<h5>Karpuz </h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="margin-left:0">
										<img src="http://i.hizliresim.com/1L7535.jpg" class="img-responsive" alt="" />
										<h5>Fındık </h5>
									</div>

									<div class="answer col-sm-4" data-choice="10" style="">
										<img src="http://i.hizliresim.com/nRynaB.jpg" class="img-responsive" alt="" />
										<h5>Dondurma </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/LyGrXV.jpg" class="img-responsive" alt="" />
										<h5>Höşmerim</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a7" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>9. Bir futbol takımının neresinde bulunurdun?</h2>

								<div class="answers clearfix" data-question="8">
									<div class="answer col-sm-4" data-choice="7" style="">
										<img src="http://i.hizliresim.com/yEjQ6L.jpg" class="img-responsive" alt="" />
										<h5>Kaleci </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/69MOaP.jpg" class="img-responsive" alt="" />
										<h5>Defans </h5>
									</div>

									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/W0o5qY.jpg" class="img-responsive" alt="" />
										<h5>Orta Saha</h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="margin-left:0">
										<img src="http://i.hizliresim.com/37g06A.jpg" class="img-responsive" alt="" />
										<h5>Forvet </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/R0GMr1.jpg" class="img-responsive" alt="" />
										<h5>Masör </h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/p021b0.jpg" class="img-responsive" alt="" />
										<h5>Kulüp Başkanı</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a8" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>10. Hobi Olarak Hangisi Yakın Geliyor?</h2>

								<div class="answers clearfix" data-question="9">
									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/dPMp1L.jpg" class="img-responsive" alt="" />
										<h5>Koleksiyonculuk </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/X0lAa6.jpg" class="img-responsive" alt="" />
										<h5>Fotoğrafçılık </h5>
									</div>

									<div class="answer col-sm-4" data-choice="10" style="">
										<img src="http://i.hizliresim.com/br93nV.jpg" class="img-responsive" alt="" />
										<h5>Enstrüman Çalmak</h5>
									</div>

									<div class="answer col-sm-4" data-choice="7" style="margin-left:0">
										<img src="http://i.hizliresim.com/ALGa9X.jpg" class="img-responsive" alt="" />
										<h5>Resim </h5>
									</div>

									<div class="answer col-sm-4" data-choice="8" style="">
										<img src="http://i.hizliresim.com/4P94EQ.jpg" class="img-responsive" alt="" />
										<h5>Şiir Okumak</h5>
									</div>

									<div class="answer col-sm-4" data-choice="9" style="">
										<img src="http://i.hizliresim.com/Qayq6V.jpg" class="img-responsive" alt="" />
										<h5>El İşi Tasarımı</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a9" value="0">
								</div>
							</div>
						</div>

						<div class="row answers-list">
							<div class="answerResult col-md-12">
								<h4>Kalista Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Kalista.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Kalista - İntikam Mızrağı kod adı ile anılan Kalista ile muhteşem bir uyum sağladın. Gamer Peoplende rakiplerin seni görünce korkudan ne yapacaklarını bilemez hale gelecekler. Gecenin gazabını onlara yaşat.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Kalista.png" data-name="Kalista Çıktı! LoL'de Hangi Nişancısın?" data-description="İntikam Mızrağı kod adı ile anılan Kalista ile muhteşem bir uyum sağladın.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Lucian Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Lucian.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Lucian - Eşi Senna'nın intikam alevleri ile yanıp kavrulan Lucian'a bir adım daha yaklaştın. Onun kudretli silahlarının eşliğinde Gamer People ayaklarının altında titreyecek. Pis ruhları temizlemek için bu savaşta yolun açık olsun.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Lucian.png" data-name="Lucian Çıktı! LoL'de Hangi Nişancısın?" data-description="Lucian - Eşi Senna'nın intikam alevleri ile yanıp kavrulan Lucian'a bir adım daha yaklaştın.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Jinx Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Jinx.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Jinx - Gamsızlığın beden bulmuş hali olan Jinx senin adeta ruh eşin. Piltover şehrinin bütün düzenini bozan Jinx ile aynı saflarda olmanın eğlencesi ile Gamer Peoplende rakiplerinin canına okuyacaksın. Güç seninle olsun. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Jinx.png" data-name="Jinx Çıktı! LoL'de Hangi Nişancısın?" data-description="Jinx - Gamsızlığın beden bulmuş hali olan Jinx senin adeta ruh eşin. Piltover şehrinin bütün düzenini bozan Jinx ile aynı saflarda olmanın eğlencesi ile Gamer Peoplende rakiplerinin canına okuyacaksın. Güç seninle olsun. ">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Jhin Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Jhin.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Jhin - Gamer Peoplenin canı ve sanatçı oğlu Jhin ile yollarınız yan yana ilerliyor. Titizlik ve psikopatlığın sınırlarında bir savaşçı olmaya doğru ilerliyorsunuz. "Sanat, kimsenin gözünün yaşına bakmaz." </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Jhin.png" data-name="Jhin Çıktı! LoL'de Hangi Nişancısın?" data-description="Jhin - Gamer Peoplenin canı ve sanatçı oğlu Jhin ile yollarınız yan yana ilerliyor. Titizlik ve psikopatlığın sınırlarında bir savaşçı olmaya doğru ilerliyorsunuz. Sanat, kimsenin gözünün yaşına bakmaz.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Graves Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Graves.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Graves - Çatık kaşları ve kocaman silahı ile Graves Vadiye inip alacaklarını toplamak için can atıyor. Bu heybetli savaşçı ile zorlu bir mücadeleye gireceksiniz. Şarjörünü doldurmayı unutma. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Graves.png" data-name="Graves Çıktı! LoL'de Hangi Nişancısın?" data-description="Graves - Çatık kaşları ve kocaman silahı ile Graves Vadiye inip alacaklarını toplamak için can atıyor. Bu heybetli savaşçı ile zorlu bir mücadeleye gireceksiniz. Şarjörünü doldurmayı unutma.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Sivir Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Sivir.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Sivir - Çöllerin haşin ve mücevherlere düşkün prensesi Sivir için paranın nereden geldiği değil ne kadar ettiği önemlidir. Kral mezarlarını talan ederken birlikte büyük keyif alacaksınız.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Sivir.png" data-name="Sivir Çıktı! LoL'de Hangi Nişancısın?" data-description="Sivir - Çöllerin haşin ve mücevherlere düşkün prensesi Sivir için paranın nereden geldiği değil ne kadar ettiği önemlidir. Kral mezarlarını talan ederken birlikte büyük keyif alacaksınız.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Varus Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Varus.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Varus - Tapınak koruma görevinden dönen Varus ailesinin ölülerini görünce adeta dehşete düşmüş ve gözünü intikam yemini bürümüştü. Bu hırs ve güç içerisinde onun en büyük yoldaşu sensin. Şimdi intikam zamanı. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Varus.png" data-name="Varus Çıktı! LoL'de Hangi Nişancısın?" data-description="Varus - Tapınak koruma görevinden dönen Varus ailesinin ölülerini görünce adeta dehşete düşmüş ve gözünü intikam yemini bürümüştü. Bu hırs ve güç içerisinde onun en büyük yoldaşu sensin. Şimdi intikam zamanı. ">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Vayne Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Vayne.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Vayne - İçini nefret alevleri kaplamış olan Gece'nin avcısı Vayne ile gölgeler arasında koşuyor ve savaşıyorsun. Karanlık sanatın hizmetlarları senin ve Vayne'nin iş birliğinden korkuyorlar. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Vayne.png" data-name="Vayne Çıktı! LoL'de Hangi Nişancısın?" data-description="Vayne - İçini nefret alevleri kaplamış olan Gece'nin avcısı Vayne ile gölgeler arasında koşuyor ve savaşıyorsun. Karanlık sanatın hizmetlarları senin ve Vayne'nin iş birliğinden korkuyorlar. ">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Kog'Maw Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/KogMaw.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Kog'Maw - Hiçliğin kollarından dünyamıza Malzahar tarafından getirilen Kog'Maw gibi güç ve kudrete açsın. Önüne gelen tüm engel ve zorlukları yiyerek yoluna devam ediyorsun. Karanlık aracın güç amacın olsun. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/KogMaw.png" data-name="Kog'Maw Çıktı! LoL'de Hangi Nişancısın?" data-description="Kog'Maw - Hiçliğin kollarından dünyamıza Malzahar tarafından getirilen Kog'Maw gibi güç ve kudrete açsın. Önüne gelen tüm engel ve zorlukları yiyerek yoluna devam ediyorsun. Karanlık aracın güç amacın olsun.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Tristana Çıktı!</h4>
								<img src="/html/assets/img/test-1-answers/Tristana.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Tristana - Yordle kuvvetlerinin en şirin fakat tehlikeli askerlerinden birisi olan Tristana sarsılmaz cesareti ile rakiplerini bir bir devirmeye devam ediyor. Onun en büyük yoldaşı sensin.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-1-answers/Tristana.png" data-name="Tristana Çıktı! LoL'de Hangi Nişancısın?" data-description="Kog'Maw - Hiçliğin kollarından dünyamıza Malzahar tarafından getirilen Kog'Maw gibi güç ve kudrete açsın. Önüne gelen tüm engel ve zorlukları yiyerek yoluna devam ediyorsun. Karanlık aracın güç amacın olsun.">Facebook ile Paylaş</a>
							</div>
						</div>

						<p id="totalAnswers" style="width:100%; margin:20px 0; text-align:center; font-size:15px; color:#f00;">Testi tamamlamak için tüm soruları cevapla!</p>

						<script>
							$(document).ready(function ($) {
								$(".ogBtn").on("click", function (e) {
									e.preventDefault();
									var resultImage = $(this).data("image");
									var resultName = $(this).data("name");
									var resultDesc = $(this).data("description");
									FB.ui({
										display: 'popup',
										method: 'feed',
										link: "https://www.gamerpeople.com/araclar/testler/lolde-hangi-nisancisin",
										picture: resultImage,
										name: resultName,
										caption: 'Ekleyen: GamerPeople.com',
										description: resultDesc
									}, function (response) { });
								});


								var $answers = $(".answers");
								$answers.children(".answer").on("click", function (e, i) {
									$(this).parent().children(".answer").each(function () {
										$(this).removeClass("checked");
									});
									$(this).addClass("checked");
									var choice = $(this).data("choice");
									var question = $(this).parent().data("question");
									$(this).parent().find("#a" + question).val(choice);

									var totalAnswer = "true";
									$(".questions-list").find(".choiced-ans").each(function (index, elm) {
										if ($(elm).val() == 0) {
											totalAnswer = "false";
										}
									});

									var $thisArray = [];
									var totalPoint2 = 0;
									var currentTotal = 0;
									if (totalAnswer == "true") {

										$(".questions-list").find(".choiced-ans").each(function (index, elm) {
											$thisArray[index] = $(elm).val();
										});

										for (var i = 0; i < $thisArray.length; i++) {
											currentTotal += totalPoint2 + parseInt($thisArray[i]);
											i++;
										}

										var getAnswerNum = Math.floor(currentTotal / 5)


										$(".answers-list").find(".answerResult").each(function (index, elm) {
											$(this).hide();
											if (index == getAnswerNum) {
												$(this).show();
												$("#totalAnswers").hide();
												$('body').animate({
													scrollTop: $(this).offset().top - 50
												}, 500)
											}
										});


									} else {
										$("#totalAnswers").show();
									}
								});
							});
						</script>

						<style>
							.questions-list .question {
								padding: 0;
							}

							.questions-list .question h2 {
								padding: 0 0 0 15px;
							}

							.answers .answer {
								cursor: pointer;
								padding: 15px;
								font-size: 18px;
							}

							.answers .answer h5 {
								margin: 0;
								padding: 10px;
								background: #A0A0A0;
								font-size: 18px !important;
							}

							.answers .answer.checked h5 {
								background: #962b84;
								color: #FFF;
								font-size: 18px !important;
							}

							.answerResult {
								display: none;
							}

							.answerResult div {
								padding: 0;
								margin: 0;
							}

							.answerResult p {
								font-size: 15px;
								margin: 15px 0;
							}

							.answerResult h4 {
								font-size: 30px !important;
							}

							.ogBtn {
								width: 100%;
								height: 45px;
								text-align: center;
								float: left;
								background: #49639e;
								color: #FFF;
								font-size: 16px;
								line-height: 45px;
							}

							.ogBtn:hover {
								text-decoration:none;
								color:#FFF;
							}
						</style>
					</div>
					<div class="vadi--post--comments">
						<div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="100%" data-colorscheme="dark" data-order-by="reverse_time"></div>
					</div>
				</article>
			</section>
			<aside class="col-md-3">
				@{Html.RenderAction("GetTopContent", "Partial");}
			</aside>
		</div>
	</div>
</div>