
@{
    ViewBag.Title = "Sihirdar Vadisi Testleri | Hangi Mid Şampiyonusun?";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Url = Request.RawUrl;
    ViewBag.Type = "article";
    ViewBag.Description = "Hangi Mid Şampiyonusun?";
    ViewBag.Image = "default-share-img.jpg";
}
<div id="page-content">
    <div class="container">
        <div class="row">
            <section class="col-md-9">
                <article class="vadi--post" itemscope itemtype="http://schema.org/NewsArticle">
                    <h1 class="vadi--post--title" itemprop="headline">Hangi Mid Şampiyonusun?</h1>
                    <div itemprop="image" itemscope itemtype="https://schema.org/ImageObject">
                        <img class="vadi--post--image" src="/html/assets/img/test-2-answers/orta_koridor_kapak.png" alt="Hangi Mid Şampiyonusun?" title=""  width="100%" />
                        <meta itemprop="url" content="https://gamerpeople.com/html/assets/img/test-2-answers/orta_koridor_kapak.png">
                        <meta itemprop="width" content="945">
                        <meta itemprop="height" content="450">
                    </div>
                    <div class="vadi--post--content">
						<p>Vadi'nin En önemli pozisyonu olan orta koridorda bakalım kimle eşleşeceksin ? Testi hemen çöz kimliğini bul !</p>

						<h6 style="font-size:16px; margin-top:15px; color:#FFF; text-decoration:underline;">Haydi Başlayalım!</h6>

						<div class="row questions-list">
							<div class="question col-md-12">
								<h2>1. Hangi LoL Tv Çalışanısın ?</h2>

								<div class="answers clearfix" data-question="1">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/yEpbGL.jpg" class="img-responsive" alt="" />
										<h5>NoelDayı </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/nRNEWV.jpg" class="img-responsive" alt="" />
										<h5>Regarnur </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/8MLpL7.jpg" class="img-responsive" alt="" />
										<h5>Euphony </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/ZZzGpV.jpg" class="img-responsive" alt="" />
										<h5>SecondBest </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/GB4L73.jpg" class="img-responsive" alt="" />
										<h5>Consiliarius</h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/ZZzGyg.jpg" class="img-responsive" alt="" />
										<h5>Scarlet  </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a1" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>2. Hangi Bölgenin Vatandaşısın ?</h2>

								<div class="answers clearfix" data-question="2">
									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/7q1RRm.jpg" class="img-responsive" alt="" />
										<h5>Demacia</h5>
									</div>

									<div class="answer col-sm-4 " data-choice="5" style="">
										<img src="http://i.hizliresim.com/X03Oa6.jpg" class="img-responsive" alt="" />
										<h5>Zaun </h5>
									</div>

									<div class="answer col-sm-4 " data-choice="3" style="">
										<img src="http://i.hizliresim.com/8MLV0Q.jpg" class="img-responsive" alt="" />
										<h5>Piltover</h5>
									</div>

									<div class="clearfix"></div> <!-- DEĞİŞİKTİR. -->

									<div class="answer col-sm-4 " data-choice="1" style="margin-left:0">
										<img src="http://i.hizliresim.com/9QrnXk.jpg" class="img-responsive" alt="" />
										<h5>Gölge Adalar </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/ALX9Av.jpg" class="img-responsive" alt="" />
										<h5>Targon Dağı </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/z3p6A7.jpg" class="img-responsive" alt="" />
										<h5>Shurima</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a2" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>3. Kostüm seçme şansın olsa hangisini seçerdin ?</h2>

								<div class="answers clearfix" data-question="3">
									<div class="answer col-sm-4 " data-choice="4" style="">
										<img src="http://i.hizliresim.com/ZZz8WG.jpg" class="img-responsive" alt="" />
										<h5>Ölülerin Efendisi Azir </h5>
									</div>

									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/EgAXbZ.jpg" class="img-responsive" alt="" />
										<h5>Ay Tanrıçası Diana </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/2roDyA.jpg" class="img-responsive" alt="" />
										<h5>Kanlı Ay Kennen </h5>
									</div>

									<div class="answer col-sm-4 " data-choice="3" style="margin-left:0">
										<img src="http://i.hizliresim.com/BrbqEp.jpg" class="img-responsive" alt="" />
										<h5>Muhafız Lux </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/j8N9Lm.jpg" class="img-responsive" alt="" />
										<h5>Deli Bilimadamı Ziggs </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/ldNMLJ.jpg" class="img-responsive" alt="" />
										<h5>Tilki Ateşi Ahri </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a3" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>4. Hangi Sihirdar Büyüsü Senin İçin Daha Önemli ?</h2>

								<div class="answers clearfix" data-question="4">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/aLNV2g.png" class="img-responsive" alt="" />
										<h5>Sıçra </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/Np2zEQ.png" class="img-responsive" alt="" />
										<h5>Çarp</h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/X03a9j.png" class="img-responsive" alt="" />
										<h5>Tutuştur </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="margin-left:0">
										<img src="http://i.hizliresim.com/EgAXD9.png" class="img-responsive" alt="" />
										<h5>Hayalet  </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/M0BO1a.png" class="img-responsive" alt="" />
										<h5>Işınlan </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/EgAXW8.png" class="img-responsive" alt="" />
										<h5>Bariyer  </h5>
									</div>

									<input type="hidden" class="choiced-ans" id="a4" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>5. Hangi oyun tarzı seni yansıtıyor ?</h2>

								<div class="answers clearfix" data-question="5">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/EgAGV8.jpg" class="img-responsive" alt="" />
										<h5>Ben dereceli anlamam normal 5v5 oyun</h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/Np2a55.jpg" class="img-responsive" alt="" />
										<h5>3v3 Dereceli en iyisi bence</h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/p0NyRm.jpg" class="img-responsive" alt="" />
										<h5>ARAM candır gerisi heyecandır</h5>
									</div>

									<div class="clearfix"></div> <!-- DEĞİŞİKTİR. -->

									<div class="answer col-sm-4" data-choice="3" style="margin-left:0">
										<img src="http://i.hizliresim.com/m3NOG1.jpg" class="img-responsive" alt="" />
										<h5>Uğursuz Korulukta normal oyun atanlardanız </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/kb84jA.jpg" class="img-responsive" alt="" />
										<h5>Dereceli 5v5  </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/R0pmJ6.jpg" class="img-responsive" alt="" />
										<h5>Kralı gelsin fark etmez, 1v1 alayına gider</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a5" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>6. Mid Oynarken Korkulu Rüyan Hangisidir ? </h2>

								<div class="answers clearfix" data-question="6">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/4PVEnG.jpg" class="img-responsive" alt="" />
										<h5>Mavi vermeyen ormancı </h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/ldNMXJ.jpg" class="img-responsive" alt="" />
										<h5>Feedlenmiş Rengar  </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/69voW0.jpg" class="img-responsive" alt="" />
										<h5>Komboyu Yapan Azir </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="margin-left:0">
										<img src="http://i.hizliresim.com/qbN55Q.jpg" class="img-responsive" alt="" />
										<h5>5 v 1 Gank yemek. </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/ldNMJp.png" class="img-responsive" alt="" />
										<h5>Farm Yapamamak  </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/7q19mm.jpg" class="img-responsive" alt="" />
										<h5>Aniden Kesilen Bağlantı </h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a6" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>7. Yaz Mevsimi Favori ŞL Takımın ?</h2>

								<div class="answers clearfix" data-question="7">
									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/V0zEkn.png" class="img-responsive" alt="" />
										<h5>BAU SuperMassive </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/QazQDZ.jpg" class="img-responsive" alt="" />
										<h5>Dark Passage</h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="">
										<img src="http://i.hizliresim.com/8ML8q7.png" class="img-responsive" alt="" />
										<h5>Çilekler </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="margin-left:0">
										<img src="http://i.hizliresim.com/O0zEWD.png" class="img-responsive" alt="" />
										<h5>1907 Fenerbahçe </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/ojN0Q9.png" class="img-responsive" alt="" />
										<h5>Crew eSpor </h5>
									</div>

									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/9QW4g5.jpg" class="img-responsive" alt="" />
										<h5>Team Aurora</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a7" value="0">
								</div>
							</div>

							<div class="question col-md-12">
								<h2>8. Favori LoL Yayıncın?</h2>

								<div class="answers clearfix" data-question="8">
									<div class="answer col-sm-4" data-choice="1" style="">
										<img src="http://i.hizliresim.com/M08EdM.jpg" class="img-responsive" alt="" />
										<h5>OyunBros </h5>
									</div>

									<div class="answer col-sm-4" data-choice="3" style="">
										<img src="http://i.hizliresim.com/m3gPo4.jpg" class="img-responsive" alt="" />
										<h5>Levo </h5>
									</div>

									<div class="answer col-sm-4" data-choice="6" style="">
										<img src="http://i.hizliresim.com/vbAEPA.jpg" class="img-responsive" alt="" />
										<h5>Theokoles</h5>
									</div>

									<div class="answer col-sm-4" data-choice="4" style="margin-left:0">
										<img src="http://i.hizliresim.com/gqv560.jpg" class="img-responsive" alt="" />
										<h5>Duygu Köseoğlu </h5>
									</div>

									<div class="answer col-sm-4" data-choice="2" style="">
										<img src="http://i.hizliresim.com/69p2a9.jpg" class="img-responsive" alt="" />
										<h5>Wtcn </h5>
									</div>

									<div class="answer col-sm-4" data-choice="5" style="">
										<img src="http://i.hizliresim.com/37WD6p.jpg" class="img-responsive" alt="" />
										<h5>ZeoNNN</h5>
									</div>
									<input type="hidden" class="choiced-ans" id="a8" value="0">
								</div>
							</div>
						</div>

						<div class="row answers-list">
							<div class="answerResult col-md-12">
								<h4>Ahri Çıktı!</h4>
								<img src="/html/assets/img//test-2-answers/Ahri.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Savaş alanında yaralı ve ölmek üzere olan insanların yaşam enerjileri ile beslenen bir büyücü. Her yeni ruh parçacığında birlikte hayat buluyorsunuz.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Ahri.png" data-name="Ahri Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="Savaş alanında yaralı ve ölmek üzere olan insanların yaşam enerjileri ile beslenen bir büyücü. Her yeni ruh parçacığında birlikte hayat buluyorsunuz.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Annie Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/Annie.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>İki güçlü büyücünün muazzam güçlü çocuğu Annie ile aynı soydansın. Tibbers, Annie ve sen büyük savaşlar vereceksiniz. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Annie.png" data-name="Annie Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="İki güçlü büyücünün muazzam güçlü çocuğu Annie ile aynı soydansın. Tibbers, Annie ve sen büyük savaşlar vereceksiniz. ">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Veigar  Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/Veigar.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Yordle soyunun çarpık ve kötü çocuğu. İçinde ki karanlık ile bütün dünyayı yok etmeyi ister gibi savaşıyor. Bu amaçta onunla yoldaşlık edeceksin." </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Veigar.png" data-name="Veigar Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="Yordle soyunun çarpık ve kötü çocuğu. İçinde ki karanlık ile bütün dünyayı yok etmeyi ister gibi savaşıyor. Bu amaçta onunla yoldaşlık edeceksin.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Heimerdinger Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/Heimerdinger.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Vadi'nin çılgın profesörü Heimerdinger çeşitli teknolojiler geliştirerek herkesin hayatını zehir etmeye çabalıyor. Bu yolda onun bilim dostusun. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Heimerdinger.png" data-name="Heimerdinger Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="Vadi'nin çılgın profesörü Heimerdinger çeşitli teknolojiler geliştirerek herkesin hayatını zehir etmeye çabalıyor. Bu yolda onun bilim dostusun.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Lux Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/Lux.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Işığın hanımı olan Lux bulunduğu  her yerde parıldıyan enerjisi ile göz doldurmaya devam ediyor. Onun bu çekiciliği artık seninle birlikte.</p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Lux.png" data-name="Lux Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="Işığın hanımı olan Lux bulunduğu  her yerde parıldıyan enerjisi ile göz doldurmaya devam ediyor. Onun bu çekiciliği artık seninle birlikte.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Vel'Koz Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/Velkoz.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Runeterra'nın topraklarına adım attığından beri terör estirmeye başlayan Vel'koz'un en büyük felsefesi 'Bilgi Güçtür' cümlesidir. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/AurelionSol.png" data-name="Vel'Koz Çıktı! LoL'de Hangi Mid Şampiyonusun?" data-description="Runeterra'nın topraklarına adım attığından beri terör estirmeye başlayan Vel'koz'un en büyük felsefesi 'Bilgi Güçtür' cümlesidir.">Facebook ile Paylaş</a>
							</div>

							<div class="answerResult col-md-12">
								<h4>Aurelion Sol Çıktı!</h4>
								<img src="/html/assets/img/test-2-answers/AurelionSol.png" class="img-responsive" alt="" />
								<div class="col-md-12"><p>Vadi'nin en kadim varlıklarından birisi olan Aurelion Sol ile yollarınız gök yüzünde kesişiyor. Şimdi yıldızlara hükmedeceksiniz. </p></div>
								<a href="#" class="ogBtn" data-image="https://www.gamerpeople.com/html/assets/img/test-2-answers/Velkoz.png" data-name="Aurelion Sol! LoL'de Hangi Mid Şampiyonusun?" data-description="Vadi'nin en kadim varlıklarından birisi olan Aurelion Sol ile yollarınız gök yüzünde kesişiyor. Şimdi yıldızlara hükmedeceksiniz.">Facebook ile Paylaş</a>
							</div>
						</div>

						<p id="totalAnswers" style="width:100%; margin:20px 0; text-align:center; font-size:15px; color:#f00;">Testi tamamlamak için tüm soruları cevapla!</p>

						<script>
							$(document).ready(function ($) {
								$(".ogBtn").on("click", function (e) {
									e.preventDefault();
									var resultImage = $(this).data("image");
									var resultName = $(this).data("name");
									var resultDesc = $(this).data("description");
									FB.ui({
										display: 'popup',
										method: 'feed',
										link: "https://www.gamerpeople.com/araclar/testler/lolde-hangi-nisancisin",
										picture: resultImage,
										name: resultName,
										caption: 'Ekleyen: GamerPeople.com',
										description: resultDesc
									}, function (response) { });
								});


								var $answers = $(".answers");
								$answers.children(".answer").on("click", function (e, i) {
									var currentTotal = 0;
									$(this).parent().children(".answer").each(function () {
										$(this).removeClass("checked");
									});
									$(this).addClass("checked");
									var choice = $(this).data("choice");
									var question = $(this).parent().data("question");
									$(this).parent().find("#a" + question).val(choice);

									var totalAnswer = "true";
									$(".questions-list").find(".choiced-ans").each(function (index, elm) {
										if ($(elm).val() == 0) {
											totalAnswer = "false";
										}
									});

									var $thisArray = [];
									var totalPoint2 = 0;

									if (totalAnswer == "true") {

										$(".questions-list").find(".choiced-ans").each(function (index, elm) {
											$thisArray[index] = $(elm).val();
										});


										for (var i = 0; i < $thisArray.length; i++) {
											currentTotal += totalPoint2 + parseInt($thisArray[i]);
											i++;
										}

										//var getAnswerNum = Math.floor(currentTotal / 4)


										if (currentTotal == 10) getAnswerNum = 4;
										else if (currentTotal == 12) getAnswerNum = 5;
										else if (currentTotal == 14) getAnswerNum = 6;
										else if (currentTotal == 11) getAnswerNum = 3;
										else if (currentTotal == 13) getAnswerNum = 2;
										else if (currentTotal < 10) getAnswerNum = 1;
										else if (currentTotal > 15) getAnswerNum = 0;
										else getAnswerNum = 0;

										$(".answers-list").find(".answerResult").each(function (index, elm) {
											$(this).hide();
											if (index == getAnswerNum) {
												$(this).show();
												$("#totalAnswers").hide();
												$('body').animate({
													scrollTop: $(this).offset().top - 50
												}, 500)
											}
										});


									} else {
										$("#totalAnswers").show();
									}
								});
							});
						</script>

						<style>
							.questions-list .question {
								padding: 0;
							}

							.questions-list .question h2 {
								padding: 0 0 0 15px;
							}

							.answers .answer {
								cursor: pointer;
								padding: 15px;
								font-size: 18px;
							}

							.answers .answer h5 {
								margin: 0;
								padding: 10px;
								background: #A0A0A0;
								font-size: 18px !important;
							}

							.answers .answer.checked h5 {
								background: #962b84;
								color: #FFF;
								font-size: 18px !important;
							}

							.answerResult {
								display: none;
							}

							.answerResult div {
								padding: 0;
								margin: 0;
							}

							.answerResult p {
								font-size: 15px;
								margin: 15px 0;
							}

							.answerResult h4 {
								font-size: 30px !important;
							}

							.ogBtn {
								width: 100%;
								height: 45px;
								text-align: center;
								float: left;
								background: #49639e;
								color: #FFF;
								font-size: 16px;
								line-height: 45px;
							}

							.ogBtn:hover {
								text-decoration: none;
								color: #FFF;
							}
						</style>
                    </div>
                    <div class="vadi--post--comments">
                        <div class="fb-comments" data-href="@Request.Url.AbsoluteUri" data-width="100%" data-colorscheme="dark" data-order-by="reverse_time"></div>
                    </div>
                </article>
            </section>
            <aside class="col-md-3">
                @{Html.RenderAction("GetTopContent", "Partial");}
            </aside>
        </div>
    </div>
</div>