@{
    ViewBag.Title = "Anasayfa";
    ViewBag.Url = Request.RawUrl;
    ViewBag.Type = "article";
    ViewBag.Description = "Sihirdar Vadisi Araçlar'a Hoşgeldiniz.";
    ViewBag.Image = "http://sihirdarvadisi.com/content/default-share-img.jpg";
}

<div id="content" ng-view></div>
