
@{
    ViewBag.Title = "Senin LoL Şampiyonun Kaç K?";
    ViewBag.Url = Request.RawUrl;
    ViewBag.Type = "article";
    ViewBag.Description = "Hangi arkadaşınız hangi şampiyonda usta artık görebileceksiniz! Senin ki Kaç K? ile işler değişiyor.";
    ViewBag.Image = "http://sihirdarvadisi.com/content/default-share-img.jpg";
}

<div id="content" ng-view></div>
