@{
    ViewBag.Title = "Kaç Saat LoL Oynadın?";
    ViewBag.Url = Request.RawUrl;
    ViewBag.Type = "article";
    ViewBag.Description = "Tahmin yürütmekten ciğerin mi soldu? Bırak o ölçümleri biz yapalım sen o matematik yerine YGS'ye hazırlan.";
    ViewBag.Image = "http://sihirdarvadisi.com/content/default-share-img.jpg";
}

<div id="content" ng-view></div>