.sv-icon 
	i 
		width 36px
		height 36px
		float left
		&.sv-homepage
			background url(../../html/assets/img/icon-gfx.png) no-repeat 0 0
		&.sv-search
			background url(../../html/assets/img/icon-gfx.png) no-repeat -36px 0
	&:hover
		i.sv-homepage 
			background url(../../html/assets/img/icon-gfx.png) no-repeat 0 -36px
		i.sv-search 
			background url(../../html/assets/img/icon-gfx.png) no-repeat -36px -36px