background-color = #242424
white = #FFFFFF
black = #0b0911
darkgray = #39383e

/*
lol-color = #962b84
dota2-color = #c8362e
csgo-color = #cc8700
heartstone-color = #0390cb
overwatch-color = #e5d202
pubg-color = #e57200
strikeofkings-color = #5f0000
media-color = #41909b
makaleler-color = #879e00
dosyalar-color = #aa9573
indirim-color = #ff0000
espor-color = #009e3a
*/

color-primary = #962b84
color-secondary = #22527b
color-ruby = #0F9EDA

/*
 * Menu Renkleri
 * (takvimde de kullanılıyor)
 */
menu = {
	lol: color-primary,
	dota2: #c8362e,
	csgo: #cc8700,
	hearthstone: #0390cb,
	overwatch: #e5d202,
	pubg: #e57200,
	aov: #5f0000,
	media: #41909b,
	makaleler: #879e00,
	dosyalar: #aa9573,
	indirim: #ff0000,
	espor: #009e3a
}
news-border()
	margin-right -15px
	margin-left -15px
	padding 15px
	border-bottom 5px solid background-color