<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--<add name="AdminDbContext" connectionString="Data Source=78.135.9.188;Initial Catalog=SihirdarDb; User=sa; Password=p@sh@h0st!;" providerName="System.Data.SqlClient" />-->
    <!--<add name="AdminDbContext" connectionString="Data Source=37.48.83.230;Initial Catalog=Sihirdar; User=sa; Password=sq!rubyd3v17$;" providerName="System.Data.SqlClient" />-->
    <add name="AdminDbContext" connectionString="Data Source=fake;Initial Catalog=fakeDb; User=sa; Password=fake;" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="reCaptchaPublicKey" value="fake" />
    <add key="reCaptchaPrivateKey" value="fake" />

    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />

    <add key="ImageMaxWidth" value="1920" />
    <add key="ImageMaxHeight" value="1080" />

    <add key="ContactAddress" value="info@gamerpeople.com" />
    <add key="EmailAddress" value="noreply@gamerpeople.com" />
    <add key="EmailPassword" value="fake" />
    <add key="Port" value="587" />
    <add key="Smtp" value="smtp.gamerpeople.com" />
    <add key="Domain" value="https://www.gamerpeople.com" />

    <add key="RiotApiKey" value="fake" />
    <add key="RiotRateLimitPer10S" value="10" />
    <add key="RiotRateLimitPer10M" value="10" />
  </appSettings>
  <system.web>
    <sessionState mode="InProc" timeout="60"></sessionState>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" maxQueryStringLength="15360" />
    <customErrors mode="Off">
      <error statusCode="404" redirect="~/Error/404.html"></error>
      <error statusCode="500" redirect="~/Error/500.html"></error>
    </customErrors>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="NPOI" publicKeyToken="0df73ec7942b34e1" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.2.3.0" newVersion="1.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.2.0" newVersion="5.2.2.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>

<system.webServer>
  <security>
    <requestFiltering>
      <!-- maxAllowedContentLength, for IIS, in bytes -->
      <requestLimits maxAllowedContentLength="15728640"></requestLimits>
    </requestFiltering>
  </security>
    
  <!--<rewrite>
    <rules>
      <clear />
      <rule name="Redirect to https" stopProcessing="true">
        <match url="(.*)" />
        <conditions>
          <add input="{HTTPS}" pattern="off" ignoreCase="true" />
        </conditions>
        <action type="Redirect" url="https://{HTTP_HOST}{REQUEST_URI}" redirectType="Permanent" appendQueryString="false" />
      </rule>
    </rules>
  </rewrite>-->
  <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers></system.webServer></configuration>