
@{
    ViewBag.Title = "Index";
}

<div class="content-wrap">
    <div class="row">

        <div class="col-sm-12">
            <div class="nest" id="basicClose">
                <div class="title-alt">
                    <h6>Basic</h6>
                    <div class="titleClose">
                        <a class="gone" href="#basicClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#basic">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="basic">
                    <div class="form_center">
                        <form role="form">
                            <div class="form-group">
                                <label for="exampleInputEmail1">Email address</label>
                                <input type="email" placeholder="Enter email" id="exampleInputEmail1" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">Password</label>
                                <input type="password" placeholder="Password" id="exampleInputPassword1" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputFile">File input</label>
                                <input type="file" id="exampleInputFile">
                                <p class="help-block">Example block-level help text here.</p>
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Check me out
                                </label>
                            </div>
                            <button class="btn btn-info" type="submit">Submit</button>
                        </form>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="horizontalClose">
                <div class="title-alt">
                    <h6>
                        Horizontal Forms
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#horizontalClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#horizontal">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="horizontal">
                    <div class="form_center">
                        <form role="form" class="form-horizontal">
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label" for="inputEmail1">Email</label>
                                <div class="col-lg-10">
                                    <input type="email" placeholder="Email" id="inputEmail1" class="form-control">
                                    <p class="help-block">Example block-level help text here.</p>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-lg-2 col-sm-2 control-label" for="inputPassword1">Password</label>
                                <div class="col-lg-10">
                                    <input type="password" placeholder="Password" id="inputPassword1" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <div class="checkbox">
                                        <label>
                                            <input type="checkbox">Remember me
                                        </label>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-lg-offset-2 col-lg-10">
                                    <button class="btn btn-danger" type="submit">Sign in</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="inlineClose">
                <div class="title-alt">
                    <h6>
                        Inline form
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#inlineClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#inline">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="inline">
                    <div class="form_center">
                        <form role="form" class="form-inline">
                            <div class="form-group">
                                <label for="exampleInputEmail2" class="sr-only">Email address</label>
                                <input type="email" placeholder="Enter email" id="exampleInputEmail2" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword2" class="sr-only">Password</label>
                                <input type="password" placeholder="Password" id="exampleInputPassword2" class="form-control">
                            </div>
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox">Remember me
                                </label>
                            </div>
                            <button class="btn btn-success" type="submit">Sign in</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="elementClose">
                <div class="title-alt">
                    <h6>
                        Form Elements
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#elementClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#element">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="element">
                    <div class="panel-body">
                        <form method="get" class="form-horizontal bucket-form">
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Default</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Help text</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control">
                                    <span class="help-block">A block of help text that breaks onto a new line and may extend beyond one line.</span>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Rounder</label>
                                <div class="col-sm-6">
                                    <input type="text" class="form-control round-input">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Input focus</label>
                                <div class="col-sm-6">
                                    <input type="text" value="This is focused..." id="focusedInput" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Disabled</label>
                                <div class="col-sm-6">
                                    <input type="text" disabled="" placeholder="Disabled input here..." id="disabledInput" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Placeholder</label>
                                <div class="col-sm-6">
                                    <input type="text" placeholder="placeholder" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-3 control-label">Password</label>
                                <div class="col-sm-6">
                                    <input type="password" placeholder="" class="form-control">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class=" col-sm-3 control-label">Static control</label>
                                <div class="col-lg-6">
                                    <p class="form-control-static">
                                        email@example.com
                                        <script type="text/javascript">
                                                        /* &lt;![CDATA[ */
                                                        (function () {
                                                            try {
                                                                var s, a, i, j, r, c, l, b = document.getElementsByTagName("script");
                                                                l = b[b.length - 1].previousSibling;
                                                                a = l.getAttribute('data-cfemail');
                                                                if (a) {
                                                                    s = '';
                                                                    r = parseInt(a.substr(0, 2), 16);
                                                                    for (j = 2; a.length - j; j += 2) {
                                                                        c = parseInt(a.substr(j, 2), 16) ^ r;
                                                                        s += String.fromCharCode(c);
                                                                    }
                                                                    s = document.createTextNode(s);
                                                                    l.parentNode.replaceChild(s, l);
                                                                }
                                                            } catch (e) { }
                                                        })();
                                                        /* ]]&gt; */
                                        </script>
                                    </p>
                                </div>
                            </div>
                            <div class="form-group has-success">
                                <label for="inputSuccess" class="col-sm-3 control-label col-lg-3">Input with success</label>
                                <div class="col-lg-6">
                                    <input type="text" id="inputSuccess" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-warning">
                                <label for="inputWarning" class="col-sm-3 control-label col-lg-3">Input with warning</label>
                                <div class="col-lg-6">
                                    <input type="text" id="inputWarning" class="form-control">
                                </div>
                            </div>
                            <div class="form-group has-error">
                                <label for="inputError" class="col-sm-3 control-label col-lg-3">Input with error</label>
                                <div class="col-lg-6">
                                    <input type="text" id="inputError" class="form-control">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="labelClose">
                <div class="title-alt">
                    <h6>
                        Checkbox and radio Button Pretty
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#labelClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#label">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="label">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="skin skin-flat">
                                <ul class="list">
                                    <li>
                                        <input tabindex="13" type="checkbox" id="flat-checkbox-1">
                                        <label for="flat-checkbox-1">Checkbox 1</label>
                                    </li>
                                    <li>
                                        <input tabindex="14" type="checkbox" id="flat-checkbox-2" checked>
                                        <label for="flat-checkbox-2">Checkbox 2</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="flat-checkbox-disabled" disabled>
                                        <label for="flat-checkbox-disabled">Disabled</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="flat-checkbox-disabled-checked" checked disabled>
                                        <label for="flat-checkbox-disabled-checked">Disabled &amp; checked</label>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <input tabindex="11" type="radio" id="square-radio-1" name="square-radio">
                                        <label for="square-radio-1">Radio button 1</label>
                                    </li>
                                    <li>
                                        <input tabindex="12" type="radio" id="square-radio-2" name="square-radio" checked>
                                        <label for="square-radio-2">Radio button 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="square-radio-disabled" disabled>
                                        <label for="square-radio-disabled">Disabled</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="square-radio-disabled-checked" checked disabled>
                                        <label for="square-radio-disabled-checked">Disabled &amp; checked</label>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="skin skin-line">
                                <ul class="list">
                                    <li>
                                        <input tabindex="17" type="checkbox" id="line-checkbox-1">
                                        <label for="line-checkbox-1">Checkbox 1</label>
                                    </li>
                                    <li>
                                        <input tabindex="18" type="checkbox" id="line-checkbox-2" checked>
                                        <label for="line-checkbox-2">Checkbox 2</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="line-checkbox-disabled" disabled>
                                        <label for="line-checkbox-disabled">Disabled</label>
                                    </li>
                                    <li>
                                        <input type="checkbox" id="line-checkbox-disabled-checked" checked disabled>
                                        <label for="line-checkbox-disabled-checked">Disabled &amp; checked</label>
                                    </li>
                                </ul>
                                <ul class="list">
                                    <li>
                                        <input tabindex="19" type="radio" id="line-radio-1" name="line-radio">
                                        <label for="line-radio-1">Radio button 1</label>
                                    </li>
                                    <li>
                                        <input tabindex="20" type="radio" id="line-radio-2" name="line-radio" checked>
                                        <label for="line-radio-2">Radio button 2</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="line-radio-disabled" disabled>
                                        <label for="line-radio-disabled">Disabled</label>
                                    </li>
                                    <li>
                                        <input type="radio" id="line-radio-disabled-checked" checked disabled>
                                        <label for="line-radio-disabled-checked">Disabled &amp; checked</label>
                                    </li>
                                </ul>
                                <div style="clear:both;"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="content-wrap">
    <div class="row">
        <div class="col-sm-12">
            <div class="nest" id="switchClose">
                <div class="title-alt">
                    <h6>
                        switch
                    </h6>
                    <div class="titleClose">
                        <a class="gone" href="#switchClose">
                            <span class="entypo-cancel"></span>
                        </a>
                    </div>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#switch">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="switch">
                    <div class="make-switch" data-on="primary" data-off="info">
                        <input type="checkbox" checked>
                    </div>
                    <div class="make-switch" data-on="info" data-off="success">
                        <input type="checkbox" checked>
                    </div>
                    <div class="make-switch" data-on="success" data-off="warning">
                        <input type="checkbox" checked>
                    </div>
                    <div class="make-switch" data-on="warning" data-off="danger">
                        <input type="checkbox" checked>
                    </div>
                    <div class="make-switch" data-on="danger" data-off="default">
                        <input type="checkbox" checked>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>