@model Sihirdar.DataAccessLayer.Infrastructure.Models.Language

@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Edit";
}

<div class="content-wrap">
    <div class="row">
        <div class="col-md-6">
            <div class="nest" id="basicClose">
                <div class="title-alt">
                    <h6>Language</h6>
                    <div class="titleToggle">
                        <a class="nav-toggle-alt" href="#basic">
                            <span class="entypo-up-open"></span>
                        </a>
                    </div>
                </div>
                <div class="body-nest" id="basic">
                    <form role="form" action="/Admin/Language/Edit" method="post">
                        @Html.HiddenFor(model => model.Id)
                        <div class="form-group">
                            <label for="Name">Name</label>
                            @Html.TextBoxFor(model => model.Name, new { placeholder = "Sample: Türkçe", @class = "form-control validate[required]", maxlength = "200" })
                        </div>
                        <div class="form-group">
                            <label for="UrlTag">Language Tag</label>
                            @Html.TextBoxFor(model => model.UrlTag, new { placeholder = "Sample: tr, en, fr", @class = "form-control validate[required]", maxlength = "10" })
                        </div>
                        <div class="form-group">
                            <label for="Status">Status</label>
                            @Html.DropDownListFor(model => model.Status, ViewBag.StatusList as SelectList, new { @class = "form-control" })
                        </div>
                        <button class="btn btn-info" type="submit">Submit</button>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>